<div class="ui container">
    <div class="ui secondary pointing menu">
        <a 
            routerLink="/elements" 
            routerLinkActive="active" 
            class="item"
        >
            Elements
        </a>
        <a 
            routerLink="/collections" 
            routerLinkActive="active" 
            class="item"
        >
            Collections
        </a>
        <a 
            routerLink="/views" 
            routerLinkActive="active" 
            class="item"
        >
            Views
        </a>
        <a 
            routerLink="/mods" 
            routerLinkActive="active" 
            class="item"
        >
            Modules
        </a>
    </div>
    <div class="ui segment">
        <!-- wherever we place our router outlet is where our component is going to be created -->
        <router-outlet />
    </div>
</div>