# Auth Storage Strategy
# Options: 'localStorage' | 'httpOnly' | 'memory'
# Default: 'localStorage'
VITE_AUTH_STORAGE_STRATEGY=localStorage

# API Base URL
VITE_API_URL=http://localhost:3000

VITE_MOCK_AUTH=true