<div class="container">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input 
        class="form-control" 
        #userInput 
        (input)="onNameChange(userInput.value)" 
      />
    </div>

    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{ fullName | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input 
        class="form-control" 
        type="date"
        #dateInput 
        (input)="onDateChange(dateInput.value)" 
      />
    </div>

    <div class="col">
      <label><b>Date</b></label>
      <div>
        {{ date | date }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label><b>Today</b></label>
      <div>
        <p>Today is {{ today | date }}</p>   
        <p>Or if you prefer, {{ today | date:'fullDate' }}</p>   
        <p>The time is {{ today | date:'h:mm a z' }}</p>
        <p>{{ today | date:"MMM dd, yyyy 'at' hh:mm a" }}</p>
      </div>
    </div>
  </div>

</div>
